In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("trainable_complete2.csv")
df.columns

Index(['Price', 'departure_time', 'arrival_time', 'Airline', 'Cabin',
       'Dept_city', 'Dept_date', 'arrival_city', 'stops', 'duration',
       'weekday', 'dept_hours', 'Dept_flights_time', 'optimal_hours'],
      dtype='object')

In [26]:
df["optimal_time"]=df["dept_hours"]-4

In [27]:
df.head()

,Price,departure_time,arrival_time,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_hours,optimal_time
0,3112,14:30,20:20,AirAsia,E,New Delhi,1,Mumbai,1,350,5,14,Afternoon_flight,11,10
1,3113,16:55,21:10,Go Air,E,New Delhi,1,Mumbai,1,255,5,16,Evening_flight,13,12
2,3113,16:45,21:05,Go Air,E,New Delhi,1,Mumbai,1,260,5,16,Evening_flight,13,12
3,3113,07:55,13:00,Go Air,E,New Delhi,1,Mumbai,1,305,5,7,Morning_flight,4,3
4,3113,09:00,14:20,Go Air,E,New Delhi,1,Mumbai,1,320,5,9,Morning_flight,6,5

In [28]:
df.columns

Index(['Price', 'departure_time', 'arrival_time', 'Airline', 'Cabin',
       'Dept_city', 'Dept_date', 'arrival_city', 'stops', 'duration',
       'weekday', 'dept_hours', 'Dept_flights_time', 'optimal_hours',
       'optimal_time'],
      dtype='object')

In [29]:
dff2=df.copy()

In [30]:
for i in range(df.shape[0]):
  if df["optimal_time"].iloc[i]<0:
    df["optimal_time"].iloc[i] +=24

df["optimal_time"].describe()

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

count    330938.000000
mean          8.793487
std           4.883687
min           0.000000
25%           5.000000
50%           8.000000
75%          13.000000
max          23.000000
Name: optimal_time, dtype: float64

In [31]:
df.columns

Index(['Price', 'departure_time', 'arrival_time', 'Airline', 'Cabin',
       'Dept_city', 'Dept_date', 'arrival_city', 'stops', 'duration',
       'weekday', 'dept_hours', 'Dept_flights_time', 'optimal_hours',
       'optimal_time'],
      dtype='object')

In [32]:
df.drop(labels = ['departure_time','arrival_time','optimal_hours'],axis=1,inplace=True)

In [33]:
ind=[]
for i in range(df.shape[0]):
  if "," in df["Airline"].iloc[i]:
    ind.append(i)
df.drop(ind,inplace=True,axis=0)

In [34]:
air=df["Airline"].value_counts().sort_values(ascending=False)
air
l1 = []
l1.append(df[df["Airline"] == "flybig"].index)
l1.append(df[df["Airline"] == "TruJet"].index)
l1.append(df[df["Airline"] == "Air India Express"].index)
#print(l1)
l2 = []
for i in l1:
    for j in i:
        l2.append(j)
df.drop(l2,inplace=True,axis=0)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280821 entries, 0 to 330937
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Price              280821 non-null  int64
 1   Airline            280821 non-null  object
 2   Cabin              280821 non-null  object
 3   Dept_city          280821 non-null  object
 4   Dept_date          280821 non-null  int64
 5   arrival_city       280821 non-null  object
 6   stops              280821 non-null  int64
 7   duration           280821 non-null  int64
 8   weekday            280821 non-null  int64
 9   dept_hours         280821 non-null  int64
 10  Dept_flights_time  280821 non-null  object
 11  optimal_time       280821 non-null  int64
dtypes: int64(7), object(5)
memory usage: 37.9+ MB

In [36]:
pd.DataFrame(df.groupby('Airline')['Cabin'].value_counts()).T

Airline Air India        AirAsia Go Air IndiGo Spicejet        Vistara        \
Cabin           E      B       E      E      E        E     PE       B     E
Cabin       58846  53062   13729  25835  88266    16217  10440    5882  5845

Airline
Cabin      PE
Cabin    2699

In [37]:
df.groupby("Dept_flights_time")["dept_hours"].describe()

                      count       mean       std   min   25%   50%   75%   max
Dept_flights_time
Afternoon_flight    85035.0  12.947492  1.376919  11.0  12.0  13.0  14.0  15.0
Evening_flight      68160.0  18.042356  1.408625  16.0  17.0  18.0  19.0  20.0
Morning_flight     101275.0   7.873384  1.512974   5.0   7.0   8.0   9.0  10.0
Night_flight        26351.0  19.302645  6.163981   0.0  21.0  21.0  22.0  23.0

In [38]:
df['Price'] = np.log(df['Price'])

In [39]:
df.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_time
0,8.043021,AirAsia,E,New Delhi,1,Mumbai,1,350,5,14,Afternoon_flight,10
1,8.043342,Go Air,E,New Delhi,1,Mumbai,1,255,5,16,Evening_flight,12
2,8.043342,Go Air,E,New Delhi,1,Mumbai,1,260,5,16,Evening_flight,12
3,8.043342,Go Air,E,New Delhi,1,Mumbai,1,305,5,7,Morning_flight,3
4,8.043342,Go Air,E,New Delhi,1,Mumbai,1,320,5,9,Morning_flight,5

## Economy dataset

In [40]:
economy_class= df[df['Cabin'] == "E"]
economy_class.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_time
0,8.043021,AirAsia,E,New Delhi,1,Mumbai,1,350,5,14,Afternoon_flight,10
1,8.043342,Go Air,E,New Delhi,1,Mumbai,1,255,5,16,Evening_flight,12
2,8.043342,Go Air,E,New Delhi,1,Mumbai,1,260,5,16,Evening_flight,12
3,8.043342,Go Air,E,New Delhi,1,Mumbai,1,305,5,7,Morning_flight,3
4,8.043342,Go Air,E,New Delhi,1,Mumbai,1,320,5,9,Morning_flight,5

In [41]:
economy_dff = economy_class.copy()

In [42]:
y1=economy_class["Price"]

In [43]:
!pip install catboost

Requirement already satisfied: catboost in c:\users\dell\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from catboost) (3.3.2)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from catboost) (1.5.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\dell\anaconda3\lib\site-packages (from catboost) (1.19.2)
Requirement already satisfied: graphviz in c:\users\dell\anaconda3\lib\site-packages (from catboost) (0.16)
Requirement already satisfied: pandas>=0.24.0 in c:\users\dell\anaconda3\lib\site-packages (from catboost) (1.1.3)
Requirement already satisfied: plotly in c:\users\dell\anaconda3\lib\site-packages (from catboost) (4.14.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->catboost) (7.0.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2020.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\dell\anaconda3\lib\site-packages (from plotly->catboost) (1.3.3)

In [44]:
economy_class.drop(columns=['duration','Cabin'],axis=1,inplace=True)
x=["Airline","Dept_flights_time","Dept_city","arrival_city"]
from sklearn.preprocessing import LabelEncoder
for i in x:
  encoder=LabelEncoder()
  economy_class[i]=encoder.fit_transform(economy_class[[i]])

x=economy_class.drop(["Price","optimal_time"],axis=1)
y=economy_class["optimal_time"]
y1=economy_class["Price"]

import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
#x_tr,x_cv,y_tr,y_cv=train_test_split(x_train,y_train,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
#ec = CatBoostRegressor()
ec=LGBMRegressor(n_estimators=1200)
#ec=RandomForestRegressor()
ec.fit(x_train,y_train)
#pred = rfg.predict(x_cv)
pred = ec.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
<ipython-input-44-252c11ff9212>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  economy_class[i]=encoder.fit_transform(economy_class[[i]])

RMSE :  0.000000
R2 :  1.000000

In [45]:
pd.DataFrame({"Actual_data":y_test,"Predicted":pred}).head()

        Actual_data  Predicted
86938             1        1.0
116799           15       15.0
69784             1        1.0
248424           18       18.0
140709            6        6.0

In [46]:
import pickle
pickle.dump(ec,open("EC_time_model.pickle","wb"))

In [47]:
x_test['dept_hours']=pred

for i in x_test.index:
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])

y_test_1=[]
for i in x_test.index:
  y_test_1.append(y1[i])
y_test_1 = np.asarray(y_test_1)

<ipython-input-47-151244408a78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours']=pred
<ipython-input-47-151244408a78>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])
C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [48]:
import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x_test,y_test_1,test_size=0.25,random_state=0)
#x_tr,x_cv,y_tr,y_cv=train_test_split(x_train,y_train,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
#ec = CatBoostRegressor()
#ec=XGBRegressor()
ec_price=LGBMRegressor(n_estimators=1200)
ec_price.fit(x_train,y_train)
pred = ec_price.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

RMSE :  0.141890
R2 :  0.869850

In [49]:
pd.DataFrame({"Actual_data":y_test,"Predicted":pred}).head()

   Actual_data  Predicted
0     8.492286   8.625503
1     8.200288   8.227235
2     8.890411   8.899326
3     8.926119   8.927194
4     8.424639   8.710089

In [50]:
pickle.dump(ec_price,open("EC_PRICE_MODEL.pickle","wb"))

In [51]:
import pickle
a=economy_class["Dept_city"].value_counts().keys()
b=economy_dff["Dept_city"].value_counts().keys()
ec_dept_city=dict()
for i in range(len(a)):
  ec_dept_city[b[i]]=a[i]
print(ec_dept_city)
print("-"*10)
#----------------
pickle.dump(ec_dept_city,open("EC_dep_city_label.pickle","wb"))
#----------------
a=economy_class["arrival_city"].value_counts().keys()
b=economy_dff["arrival_city"].value_counts().keys()
ec_A_city=dict()
for i in range(len(a)):
  ec_A_city[b[i]]=a[i]

print(ec_A_city)
print("-"*10)
#----------------
pickle.dump(ec_A_city,open("EC_arr_city_label.pickle","wb"))
#----------------

a=economy_class["Airline"].value_counts().keys()
b=economy_dff["Airline"].value_counts().keys()
ec_airline=dict()
for i in range(len(a)):
  ec_airline[b[i]]=a[i]
print(ec_airline)
print("-"*10)

ec_airline_2 = {0:'Air India', 5:'Vistara', 3:'IndiGo', 2:'Go Air', 4:'Spicejet', 1:'AirAsia'}

#----------------
pickle.dump(ec_airline_2,open("EC_ARLINE_CITY_label.pickle","wb"))
#----------------

a=economy_class["Dept_flights_time"].value_counts().keys()
b=economy_dff["Dept_flights_time"].value_counts().keys()
time_flight_ec=dict()
for i in range(len(a)):
  time_flight_ec[b[i]]=a[i]

print(time_flight_ec)

{'New Delhi': 19, 'Mumbai': 17, 'Bengaluru': 2, 'Hyderabad': 9, 'Kolkata': 13, 'Chennai': 5, 'Patna': 20, 'Lucknow': 15, 'Kochi': 12, 'Guwahati': 8, 'Goa': 7, 'Jaipur': 11, 'Srinagar': 25, 'Pune': 22, 'Bagdogra': 1, 'Bhubaneswar': 3, 'Varanasi': 28, 'Visakhapatnam': 29, 'Chandigarh': 4, 'Ranchi': 24, 'Raipur': 23, 'Amritsar': 0, 'Indore': 10, 'Nagpur': 18, 'Coimbatore': 6, 'Thiruvananthapuram': 26, 'Port Blair': 21, 'Mangalore': 16, 'Kozhikode': 14, 'Tiruchirappalli': 27}
----------
{'New Delhi ': 19, 'Mumbai ': 17, 'Bengaluru ': 2, 'Kolkata ': 13, 'Hyderabad ': 9, 'Chennai ': 5, 'Patna ': 20, 'Lucknow ': 15, 'Kochi ': 12, 'Guwahati ': 8, 'Goa ': 7, 'Jaipur ': 11, 'Bhubaneswar ': 3, 'Pune ': 22, 'Visakhapatnam ': 29, 'Srinagar ': 25, 'Chandigarh ': 4, 'Varanasi ': 28, 'Raipur ': 23, 'Ranchi ': 24, 'Bagdogra ': 1, 'Coimbatore ': 6, 'Port Blair ': 21, 'Nagpur ': 18, 'Indore ': 10, 'Amritsar ': 0, 'Mangalore ': 16, 'Thiruvananthapuram ': 26, 'Tiruchirappalli ': 27, 'Kozhikode ': 14}
----------
{'IndiGo': 3, 'Air India': 0, 'Go Air': 2, 'Spicejet': 4, 'AirAsia': 1, 'Vistara': 5}
----------
{'Morning_flight': 2, 'Afternoon_flight': 0, 'Evening_flight': 1, 'Night_flight': 3}

In [52]:
pickle.dump(ec,open("economy_model.pickle","wb"))

## Bussiness class

In [53]:
buss_ness_data= df[df['Cabin'] == "B"]
buss_ness_data.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_time
255026,9.980078,Air India,B,New Delhi,2,Mumbai,0,130,6,20,Evening_flight,16
255027,9.980078,Air India,B,New Delhi,2,Mumbai,1,190,6,15,Afternoon_flight,11
255028,9.980078,Air India,B,New Delhi,2,Mumbai,1,225,6,17,Evening_flight,13
255029,9.990399,Vistara,B,New Delhi,2,Mumbai,0,130,6,15,Afternoon_flight,11
255030,9.990399,Vistara,B,New Delhi,2,Mumbai,0,140,6,17,Evening_flight,13

In [54]:
buss_ness_dff = buss_ness_data.copy()

In [55]:
y1=buss_ness_data["Price"]
buss_ness_data.drop(columns=['duration','Cabin'],axis=1,inplace=True)
x=["Airline","Dept_flights_time","Dept_city","arrival_city"]
from sklearn.preprocessing import LabelEncoder
for i in x:
  encoder=LabelEncoder()
  buss_ness_data[i]=encoder.fit_transform(buss_ness_data[[i]])

x=buss_ness_data.drop(["Price","optimal_time"],axis=1)
y=buss_ness_data["optimal_time"]

import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
#x_tr,x_cv,y_tr,y_cv=train_test_split(x_train,y_train,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,LassoCV,RidgeCV
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from lightgbm import LGBMRegressor
from lightgbm import LGBMRegressor
#bs = CatBoostRegressor()
bs=LGBMRegressor(n_estimators=1000)
#bs=RandomForestRegressor(n_estimators=100 )
bs.fit(x_train,y_train)
#pred = rfg.predict(x_cv)
pred = bs.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
<ipython-input-55-806b86e960b8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buss_ness_data[i]=encoder.fit_transform(buss_ness_data[[i]])

RMSE :  0.000000
R2 :  1.000000

In [56]:
pickle.dump(bs,open("BUSSINE_TIME_MODEL.pickle","wb"))

In [57]:
x_test['dept_hours']=pred

for i in x_test.index:
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])

y_test_1=[]
for i in x_test.index:
  y_test_1.append(y1[i])
y_test_1 = np.asarray(y_test_1)

<ipython-input-57-151244408a78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours']=pred
<ipython-input-57-151244408a78>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])
C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x_test,y_test_1,test_size=0.25,random_state=0)
#x_tr,x_cv,y_tr,y_cv=train_test_split(x_train,y_train,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,LassoCV,RidgeCV
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from lightgbm import LGBMRegressor
from lightgbm import LGBMRegressor
#bs = CatBoostRegressor()
bs_price=LGBMRegressor(n_estimators=1000)
#bs=RandomForestRegressor(n_estimators=100 )
bs_price.fit(x_train,y_train)
#pred = rfg.predict(x_cv)
pred = bs_price.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

RMSE :  0.121185
R2 :  0.899513

In [59]:
pickle.dump(bs_price,open("BUSSINESS_PRICE_MODEL.pickle","wb"))

In [60]:
a=buss_ness_data["Dept_city"].value_counts().keys()
b=buss_ness_dff["Dept_city"].value_counts().keys()
bs_dept_city=dict()
for i in range(len(a)):
  bs_dept_city[b[i]]=a[i]
print(bs_dept_city)
print("-"*10)
#----------------
pickle.dump(bs_dept_city,open("BS_DEP_CITY.pickle","wb"))
#----------------

a=buss_ness_data["arrival_city"].value_counts().keys()
b=buss_ness_dff["arrival_city"].value_counts().keys()
bs_A_city=dict()
for i in range(len(a)):
  bs_A_city[b[i]]=a[i]

print(bs_A_city)
print("-"*10)
#----------------
pickle.dump(bs_A_city,open("BS_ARR_CITY.pickle","wb"))
#----------------


a=buss_ness_data["Airline"].value_counts().keys()
b=buss_ness_dff["Airline"].value_counts().keys()
bs_airline=dict()
for i in range(len(a)):
  bs_airline[b[i]]=a[i]
print(bs_airline)
print("-"*10)

bs_airline_2 = {0:'Air India', 1:'Vistara'}
#----------------
pickle.dump(bs_airline_2,open("BS_Airline.pickle","wb"))
#----------------


a=buss_ness_data["Dept_flights_time"].value_counts().keys()
b=buss_ness_dff["Dept_flights_time"].value_counts().keys()
time_flight_bs=dict()
for i in range(len(a)):
  time_flight_bs[b[i]]=a[i]

print(time_flight_bs)

{'Mumbai': 17, 'New Delhi': 19, 'Bengaluru': 2, 'Hyderabad': 9, 'Kolkata': 13, 'Amritsar': 0, 'Chennai': 5, 'Lucknow': 15, 'Patna': 20, 'Srinagar': 25, 'Bhubaneswar': 3, 'Pune': 22, 'Port Blair': 21, 'Visakhapatnam': 28, 'Varanasi': 27, 'Indore': 10, 'Raipur': 23, 'Goa': 7, 'Guwahati': 8, 'Ranchi': 24, 'Kochi': 12, 'Nagpur': 18, 'Jaipur': 11, 'Coimbatore': 6, 'Mangalore': 16, 'Bagdogra': 1, 'Thiruvananthapuram': 26, 'Chandigarh': 4, 'Kozhikode': 14}
----------
{'Mumbai ': 17, 'New Delhi ': 19, 'Bengaluru ': 2, 'Kolkata ': 13, 'Hyderabad ': 9, 'Chennai ': 5, 'Lucknow ': 15, 'Bhubaneswar ': 3, 'Amritsar ': 0, 'Patna ': 20, 'Pune ': 22, 'Indore ': 10, 'Port Blair ': 21, 'Visakhapatnam ': 28, 'Raipur ': 23, 'Coimbatore ': 6, 'Srinagar ': 25, 'Varanasi ': 27, 'Goa ': 7, 'Nagpur ': 18, 'Guwahati ': 8, 'Jaipur ': 11, 'Kochi ': 12, 'Thiruvananthapuram ': 26, 'Ranchi ': 24, 'Bagdogra ': 1, 'Mangalore ': 16, 'Chandigarh ': 4, 'Kozhikode ': 14}
----------
{'Air India': 0, 'Vistara': 1}
----------
{'Morning_flight': 2, 'Afternoon_flight': 0, 'Evening_flight': 1, 'Night_flight': 3}

In [61]:
import pickle
pickle.dump(bs,open("bussiness_class_model.pickle","wb"))

## Primary Economy class

In [62]:
pe_data= df[df['Cabin'] == "PE"]
pe_data.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_time
317799,8.832734,Spicejet,PE,New Delhi,10,Chennai,0,160,0,18,Evening_flight,14
317800,9.406565,Spicejet,PE,New Delhi,10,Chennai,1,1085,0,19,Evening_flight,15
317801,9.219895,Spicejet,PE,New Delhi,10,Guwahati,1,75,0,19,Evening_flight,15
317802,9.374837,Spicejet,PE,New Delhi,10,Patna,0,100,0,19,Evening_flight,15
317803,8.723719,Vistara,PE,Mumbai,10,New Delhi,0,130,0,19,Evening_flight,15

In [63]:
pe_dff = pe_data.copy()

In [64]:
y1 = pe_data["Price"]
pe_data.drop(columns=['duration','Cabin'],axis=1,inplace=True)
x=["Airline","Dept_flights_time","Dept_city","arrival_city"]
from sklearn.preprocessing import LabelEncoder
for i in x:
  encoder=LabelEncoder()
  pe_data[i]=encoder.fit_transform(pe_data[[i]])

x=pe_data.drop(["Price","optimal_time"],axis=1)
y=pe_data["optimal_time"]

import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
pe=LGBMRegressor(n_estimators=1500)
#pe = CatBoostRegressor()
#rfg=RandomForestRegressor(n_estimators=100 )
pe.fit(x_train,y_train)
#pred = rfg.predict(x_cv)
pred = pe.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
<ipython-input-64-70193fb1581a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pe_data[i]=encoder.fit_transform(pe_data[[i]])

RMSE :  0.000000
R2 :  1.000000

In [65]:
pickle.dump(pe,open("PE_TIME_MODEL.pickle","wb"))

In [66]:
x_test['dept_hours']=pred

for i in x_test.index:
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])

y_test_1=[]
for i in x_test.index:
  y_test_1.append(y1[i])
y_test_1 = np.asarray(y_test_1)

<ipython-input-66-151244408a78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours']=pred
<ipython-input-66-151244408a78>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['dept_hours'][i]=int(x_test['dept_hours'][i])
C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
x_train,x_test,y_train,y_test=train_test_split(x_test,y_test_1,test_size=0.25,random_state=0)

from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
pe=LGBMRegressor(n_estimators=1500)
#pe = CatBoostRegressor()
#rfg=RandomForestRegressor(n_estimators=100 )
pe.fit(x_train,y_train)
#pred = rfg.predict(x_cv)
pred = pe.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
r2= r2_score(y_test, pred)
print("RMSE : % f" %(rmse))
print("R2 : % f" %(r2))

RMSE :  0.093673
R2 :  0.839008

In [68]:
pickle.dump(pe,open("PE_PRICE_MODEL.pickle","wb"))

In [69]:
a=pe_data["Dept_city"].value_counts().keys()
b=pe_dff["Dept_city"].value_counts().keys()
pe_dept_city=dict()
for i in range(len(a)):
  pe_dept_city[b[i]]=a[i]
print(pe_dept_city)
print("-"*10)

#----------------
pickle.dump(pe_dept_city,open("PE_DEP_CITY.pickle","wb"))
#----------------

a=pe_data["arrival_city"].value_counts().keys()
b=pe_dff["arrival_city"].value_counts().keys()
pe_A_city=dict()
for i in range(len(a)):
  pe_A_city[b[i]]=a[i]

print(pe_A_city)
print("-"*10)


#----------------
pickle.dump(pe_A_city,open("PE_ARR_CITY.pickle","wb"))
#----------------


a=pe_data["Airline"].value_counts().keys()
b=pe_dff["Airline"].value_counts().keys()
pe_airline=dict()
for i in range(len(a)):
  pe_airline[b[i]]=a[i]
print(pe_airline)
print("-"*10)

pe_airline_2 = {1:'Vistara', 0:'Spicejet'}


#----------------
pickle.dump(pe_airline_2,open("PE_AIRLINE.pickle","wb"))
#----------------


a=pe_data["Dept_flights_time"].value_counts().keys()
b=pe_dff["Dept_flights_time"].value_counts().keys()
time_A_city=dict()
for i in range(len(a)):
  time_A_city[b[i]]=a[i]

print(time_A_city)

{'New Delhi': 17, 'Mumbai': 16, 'Goa': 7, 'Chennai': 5, 'Patna': 18, 'Bengaluru': 2, 'Srinagar': 23, 'Guwahati': 8, 'Bagdogra': 1, 'Hyderabad': 9, 'Pune': 20, 'Kolkata': 13, 'Amritsar': 0, 'Varanasi': 25, 'Jaipur': 11, 'Kochi': 12, 'Mangalore': 15, 'Ranchi': 22, 'Bhubaneswar': 3, 'Port Blair': 19, 'Chandigarh': 4, 'Visakhapatnam': 26, 'Indore': 10, 'Raipur': 21, 'Lucknow': 14, 'Thiruvananthapuram': 24, 'Coimbatore': 6}
----------
{'New Delhi ': 17, 'Mumbai ': 16, 'Goa ': 7, 'Chennai ': 5, 'Guwahati ': 8, 'Patna ': 18, 'Bagdogra ': 1, 'Kolkata ': 13, 'Bengaluru ': 2, 'Srinagar ': 23, 'Pune ': 20, 'Amritsar ': 0, 'Hyderabad ': 9, 'Varanasi ': 25, 'Mangalore ': 15, 'Port Blair ': 19, 'Jaipur ': 11, 'Ranchi ': 22, 'Bhubaneswar ': 3, 'Kochi ': 12, 'Chandigarh ': 4, 'Visakhapatnam ': 26, 'Raipur ': 21, 'Thiruvananthapuram ': 24, 'Lucknow ': 14, 'Indore ': 10, 'Coimbatore ': 6}
----------
{'Spicejet': 0, 'Vistara': 1}
----------
{'Evening_flight': 1, 'Morning_flight': 2, 'Afternoon_flight': 0, 'Night_flight': 3}

In [70]:
pickle.dump(pe,open("PE_MODEL.pickle","wb"))

## Predictions

In [71]:
dcity=input("Enter the Departure ciity : ")
acity=input("Enter the Arrival ciity: ")
date=input("Enter the date of of the journey (YYYY-MM_DD): ")
time=input("Enter the time u want to fly: ")
cab=input("Enter the Cabin: ")
stops = int(input("Enter the stops (ex: 0-6): "))


d=date+' 0'+time+':00:00'
hour=pd.to_datetime(d).hour
day=pd.to_datetime(d).day
weekday=pd.to_datetime(d).dayofweek

def time(hour):
  if hour>=0 and hour <=10:
    return 2
  elif hour >= 10 and hour <=15:
    return 0
  elif hour >= 16 and hour <=20:
    return 1
  elif hour >= 21 and hour <= 23:
    return 3
  else:
    return None

flight_time = time(hour)
optimal_hour=hour-4

Enter the Departure ciity : New Delhi
Enter the Arrival ciity: Mumbai
Enter the date of of the journey (YYYY-MM_DD): 2021-05-31
Enter the time u want to fly: 15
Enter the Cabin: E
Enter the stops (ex: 0-6): 2

In [75]:
if cab == "E":
        for j in range(6):
            if dcity in ec_encoding_dep.keys():
                if acity in pe_encoding_arr.keys():
                  p_time=economy_model_time.predict([[ j ,ec_encoding_dep[dcity] ,day ,ec_encoding_arr[acity] , stops , weekday ,hour,flight_time]])
                  p_load = p_time.reshape(-1,1)
                  p_price = economy_model_price.predict(
                      [[j, ec_encoding_dep[dcity], day, ec_encoding_arr[acity], stops, weekday, p_load, flight_time]])
                  #st.info(f"Airline: {ec_encoding_airline[j]}  {dcity} <---->  {acity} Optimal hour {i} Price {round(np.exp(p[0]),2)}")
                  pred_final.append([ec_encoding_airline[j] ,dcity,acity ,p_time[0],np.exp(p_price[0])])
                else:
                    st.write(f"Sorry, Please check another route currently we don't have a service to this {dcity} <---> {acity} ")
                    break
            else:
                st.write(f"Sorry, Please check another route currently we don't have a service to this {dcity} <---> {acity} ")
                break
        elif cab == "B":
        for j in range(2):
            if dcity in bs_encoding_dep.keys():
                if acity in bs_encoding_arr.keys():
                  p_time=bussiness_model_time.predict([[ j ,bs_encoding_dep[dcity] ,day ,bs_encoding_arr[acity] , stops , weekday ,hour,flight_time]])
                  p_load=p_time.reshape(-1,1)
                  p_price = bussiness_model_price.predict(
                      [[j, ec_encoding_dep[dcity], day, ec_encoding_arr[acity], stops, weekday, p_load, flight_time]])
                  #st.write(f"Airline: {bs_encosing_airline[j]}  {dcity} <---->  {acity} Optimal hour {i} Price {round(np.exp(p[0]),2)}")
                  pred_final.append([bs_encosing_airline[j] ,dcity,acity ,p_time[0],np.exp(p_price[0])])
                else:
                  st.write(f"Sorry, Please check another route currently we don't have a service to {dcity} <---> {acity} ")
                  break
            else:
                st.write(f"Sorry, Please check another route currently we don't have a service to this {dcity} <---> {acity} ")
                break
        elif cab == "PE":
        for j in range(2):
            if dcity in pe_encoding_dep.keys():
                if acity in pe_encoding_arr.keys():
                  p_time=pe_model_time.predict([[ j ,pe_encoding_dep[dcity] ,day ,pe_encoding_arr[acity] , stops , weekday ,hour,flight_time]])
                  p_load=p_time.reshape(-1,1)
                  p_price = pe_model_price.predict(
                      [[j, ec_encoding_dep[dcity], day, ec_encoding_arr[acity], stops, weekday, p_load, flight_time]])
                  #st.success(f"Airline: {pe_encoding_airline[j]}  {dcity} <---->  {acity} Optimal hour {i} Price {round(np.exp(p[0]),2)}")
                  pred_final.append([pe_encoding_airline[j] ,dcity,acity ,p_time[0],np.exp(p_price[0])])
                else:
                    st.write(f"Sorry, Please check another route currently we don't have a service to this {dcity} <---> {acity} ")
                    break
            else:
                st.write(f"Sorry, Please check another route currently we don't have a service to this {dcity} <---> {acity} ")
                break
      else:
        return None

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 49)

In [ ]:
pred = pd.DataFrame(pred_final)
pred_final_2 = pred.sort_values(by=5,ascending=True)

In [ ]:
for i in range(len(pred_final_2)):
  print(f"Airline{pred_final_2.iloc[i,0]} {pred_final_2.iloc[i,1]} <====> {pred_final_2.iloc[i,2]} Optimal Hour {pred_final_2.iloc[i,4]} Price = {round(pred_final_2.iloc[i,5],2)}")
  print('--'*20)